<%- include("header") -%>

<h2>This is about ejs page.</h2>

<p> ejrbgbgeihfne fn egffjefn h aeadbef vef hjhebfe fnknefvfnea fhfkv hef e f vhebb gdjabfnve buehfdebjfb jbjcdbcbdjcb jihdicfcdj cuubdufth</p>

<%- include("footer") -%>